<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/users" method="POST">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="age" name="age">
      <button type="submit">Submit</button>
    </form>

    <table class="user" border="1">
      <tr>
        <th>name</th>
        <th>age</th>
        <th></th>
        <th></th>
      </tr>
      <% for(var i=0; i<users.length; i++) {%>
        <tr>
          <td><input type="text" name="name" value="<%= users[i].name %>"></td>
          <td><input type="text" name="age" value="<%= users[i].age %>"></td>
          <td><button onclick="user_update('<%= users[i].name %>')">Update</button></td>
          <td><button onclick="user_delete('<%= users[i].name %>')">Delete</button></td>
        </tr>
      <% } %>
    </table>
   <script src="/javascripts/main.js"></script>
 
  </body>
</html>
